@font-face {
  font-family: "gmarket_eng_300";
  src: url(gmarket_eng_300.ttf);
}
@font-face {
  font-family: "gmarket_eng_700";
  src: url(gmarket_eng_700.ttf);
}
@font-face {
  font-family: "gmarket_eng_500";
  src: url(gmarket_eng_500.ttf);
}

@font-face {
  font-family: "nexon_b";
  src: url(/css/NEXONLv1GothicBold.ttf);
}
@font-face {
  font-family: "nexon_m";
  src: url(/css/NEXONLv1GothicRegular.ttf);
}
@font-face {
  font-family: "nexon_l";
  src: url(/css/NEXONLv1GothicLight.ttf);
}

@keyframes fadein {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

body {
  font-family: "nexon_m";
  padding: 30px;
}

.dropNewEvent {
  font-size: 28px;
}

.popoverTitleCalendar {
  width: 100%;
  height: 100%;
  padding: 15px 15px;
  font-size: 13px;
  border-radius: 5px 5px 0 0;
}

.popoverInfoCalendar i {
  font-size: 14px;
  margin-right: 10px;
  line-height: inherit;
  color: #d3d4da;
}

.popoverInfoCalendar p {
  margin-bottom: 1px;
}

.popoverDescCalendar {
  margin-top: 12px;
  padding-top: 12px;
  border-top: 1px solid #e3e3e3;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.popover-title {
  background: transparent;
  font-weight: 600;
  padding: 0 !important;
  border: none;
}

.popover-content {
  padding: 15px 15px;
  font-size: 13px;
}

.inputModal {
  width: 65%;
  margin-bottom: 10px;
  height: 90px;
}

#contextMenu {
  position: absolute;
  display: none;
  z-index: 2;
}

#contextMenu .dropdown-menu {
  border: none;
}

.opacityWeekend {
  background-color: #f4f4fb !important;
}

.fc-avatar-image {
  top: 4px;
  left: 20px;
  height: 28px;
  width: 28px;
  border-radius: 50%;
  position: absolute;
  z-index: 2;
}

.fc-avatar-image img {
  height: 28px;
  width: 28px;
  border-radius: 50%;
}

.fc-avatar-image:before {
  content: none !important;
}

.fc-day-header {
  text-transform: uppercase;
  font-size: 13px;
  font-weight: 500;
  color: #505363;
  background-color: #fafafa;
  padding: 11px 0px !important;
  text-decoration: none;
  display: none;
}

.fc-day-header a {
  text-decoration: none !important;
  color: #505363;
}

.fc-center h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 600;
  color: #505363;
  line-height: 32px;
}

.fc-toolbar.fc-header-toolbar {
  /* max-width: 30%; */
  margin: 50px auto;
  margin-bottom: 70px;
  padding-top: 22px;
  margin-left: 94px;
}
.fc-toolbar.fc-header-toolbar > h2 {
  padding-top: 10px;
}

.fc-day-number {
  font-family: "nexon_b";
  font-size: 28px;
}

.fc-agenda-view .fc-day-grid .fc-row .fc-content-skeleton {
  padding-bottom: 1em;
  padding-top: 1em;
}

.fc-day {
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fc-day:hover {
  background: #eef7ff;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  -o-transition: all 0.2s linear;
  transition: all 0.2s linear;
}

.fc-highlight {
  background: #eef7ff;
  opacity: 0.7;
}

.fc-time-grid-event.fc-short .fc-time:before {
  content: attr(data-start);
  display: none;
}

.fc-time-grid-event.fc-short .fc-time span {
  display: inline-block;
}

.fc-time-grid-event.fc-short .fc-avatar-image {
  display: none;
  -webkit-transition: all 0.3s linear;
  -o-transition: all 0.3s linear;
  transition: all 0.3s linear;
}

.fc-time-grid .fc-bgevent,
.fc-time-grid .fc-event {
  border: 1px solid #fff !important;
}

.fc-time-grid-event.fc-short .fc-content {
  padding: 4px 20px 10px 22px !important;
}

.fc-time-grid-event .fc-avatar-image {
  top: 9px;
}

.fc-event-vert {
  min-height: 22px;
}

.fc .fc-axis {
  vertical-align: middle;
  padding: 0 4px;
  white-space: nowrap;
  font-size: 10px;
  color: #505362;
  text-transform: uppercase;
  text-align: center !important;
  background-color: #fafafa;
}

.fc-unthemed .fc-event .fc-content,
.fc-unthemed .fc-event-dot .fc-content {
  padding: 5px 10px 5px 10px;
  font-family: "Roboto", sans-serif;
  margin-left: -1px;
  height: 100%;
}

.fc-event {
  border: none !important;
}

.fc-day-grid-event .fc-time {
  font-weight: 700;
  text-transform: uppercase;
}

.fc-unthemed .fc-day-grid td:not(.fc-axis).fc-event-container {
  /* padding: 0.2rem 0.5rem; */
}

.fc-unthemed .fc-content,
.fc-unthemed .fc-divider,
.fc-unthemed .fc-list-heading td,
.fc-unthemed .fc-list-view,
.fc-unthemed .fc-popover,
.fc-unthemed .fc-row,
.fc-unthemed tbody,
.fc-unthemed td,
.fc-unthemed th,
.fc-unthemed thead {
  border: none;
}

.fc-ltr .fc-h-event .fc-end-resizer,
.fc-ltr .fc-h-event .fc-end-resizer:before,
.fc-ltr .fc-h-event .fc-end-resizer:after,
.fc-rtl .fc-h-event .fc-start-resizer,
.fc-rtl .fc-h-event .fc-start-resizer:before,
.fc-rtl .fc-h-event .fc-start-resizer:after {
  left: auto;
  cursor: e-resize;
  background: none;
}

select.filter {
  width: 500px !important;
}

.popover {
  background: #fff !important;
  color: #2e2f34;
  border: none;
  margin-bottom: 10px;
}

/*popover header*/
.popover-title {
  background: #f7f7fc;
  font-weight: 600;
  padding: 15px 15px 11px;
  border: none;
}

/*popover arrows*/
.popover.top .arrow:after {
  border-top-color: #fff;
}

.popover.right .arrow:after {
  border-right-color: #fff;
}

.popover.bottom .arrow:after {
  border-bottom-color: #fff;
}

.popover.left .arrow:after {
  border-left-color: #fff;
}

.popover.bottom .arrow:after {
  border-bottom-color: #fff;
}

.material-icons {
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  -webkit-font-feature-settings: "liga";
  font-feature-settings: "liga";
}

#add-color,
#edit-color {
  color: #d25565;
  height: 60px;
}
#edit-desc {
  height: 258px;
}
/*******************************************
*        정책 선택 박스 관련 싹다;
********************************************/

#policyColorChange0 {
  box-shadow: 0 4px 8px #cecece;
  font-size: 26px;
  text-align: center;
  line-height: 4em;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: block;
  /* background-color: #f4f4f4; */
  border-radius: 16px;
}
#policyColorChange1 {
  box-shadow: 0 4px 8px #cecece;
  font-size: 26px;
  text-align: center;
  line-height: 4em;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: block;
  /* background-color: #f4f4f4; */
  border-radius: 16px;
}
#policyColorChange2 {
  box-shadow: 0 4px 8px #cecece;
  font-size: 26px;
  text-align: center;
  line-height: 4em;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: block;
  /* background-color: #f4f4f4; */
  border-radius: 16px;
}
#policyColorChange3 {
  box-shadow: 0 4px 8px #cecece;
  font-size: 26px;
  text-align: center;
  line-height: 4em;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: block;
  /* background-color: #f4f4f4; */
  border-radius: 16px;
}
#policyColorChange4 {
  box-shadow: 0 4px 8px #cecece;
  font-size: 26px;
  text-align: center;
  line-height: 4em;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: block;
  /* background-color: #f4f4f4; */
  border-radius: 16px;
}
#policyColorChange5 {
  box-shadow: 0 4px 8px #cecece;
  font-size: 26px;
  text-align: center;
  line-height: 4em;
  width: 80%;
  height: 100px;
  margin: 20px auto;
  display: block;
  /* background-color: #f4f4f4; */
  border-radius: 16px;
}

#JselectButton6 {
  display: block;
  font-family: "nexon_m";
  text-align: center;
  margin: 40px auto;
  width: 80%;
  height: 100px;
  border-radius: 12px;
  border: none;
  box-shadow: 2px 4px 8px #e2e2e2;
  background-color: #f4a437;
  color: white;
  font-size: 38px;
}

/*************************************************************
******************* BUTTON POLICY CSS ************************
*************************************************************/

#JoffDisplay {
  display: inline;
  text-align: center;
}

#JselectButton0 {
  max-width: 768px;
  border-radius: 20px;
  width: 320px;
  font-size: 26px;
  font-family: "nexon_m";
  color: #383838;
  height: 320px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 4px 10px #c4c4c4;
  text-align: center;
  margin: 20px 30px;
}
#JselectButton1 {
  max-width: 768px;
  border-radius: 20px;
  font-size: 26px;
  font-family: "nexon_m";
  color: #383838;
  width: 320px;
  height: 320px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 4px 10px #c4c4c4;
  text-align: center;
  margin: 20px 30px;
}

#JselectButton2 {
  max-width: 768px;
  border-radius: 20px;
  font-size: 26px;
  font-family: "nexon_m";
  color: #383838;
  width: 320px;
  height: 320px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 4px 10px #c4c4c4;
  text-align: center;
  margin: 20px 30px;
}

#JselectButton3 {
  max-width: 768px;
  border-radius: 20px;
  font-size: 26px;
  font-family: "nexon_m";
  color: #383838;
  width: 320px;
  height: 320px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 4px 10px #c4c4c4;
  text-align: center;
  margin: 20px 30px;
}

#JselectButton4 {
  max-width: 768px;
  border-radius: 20px;
  font-size: 26px;
  font-family: "nexon_m";
  color: #383838;
  width: 320px;
  height: 320px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 4px 10px #c4c4c4;
  text-align: center;
  margin: 20px 30px;
}
#JselectButton5 {
  max-width: 768px;
  border-radius: 20px;
  font-size: 26px;
  font-family: "nexon_m";
  color: #383838;
  width: 320px;
  height: 320px;
  background-color: #fff;
  border: none;
  box-shadow: 2px 4px 10px #c4c4c4;
  text-align: center;
  margin: 20px 30px;
}
/* 일자리 1 / 금융복지 2 / 주거 3/ 진로 4 / 교육문화 5/ 창업 6 */
#Jimg1 {
  display: block;
  width: 100%;
  margin: 0px 0px 20px 0px;
}
#Jimg2 {
  display: block;
  width: 80%;
  text-align: center;
  /* margin: 0px 0px 20px 0px; */
  margin-left: 40px;
}
#Jimg3 {
  display: block;
  width: 77%;
  text-align: center;
  /* margin: 0px 0px 20px 0px; */
  margin-left: 40px;
}
#Jimg4 {
  display: block;
  width: 97%;
  text-align: center;
  margin: 0px 0px 20px 0px;
  /* margin-left: 40px; */
}
#Jimg5 {
  display: block;
  width: 80%;
  text-align: center;
  /* margin: 0px 0px 20px 0px; */
  margin-left: 40px;
}
#Jimg6 {
  display: block;
  width: 100%;
  text-align: center;
  margin: 0px 0px 20px 0px;
  /* margin-left: 40px; */
}

#JPrevButton6 {
  font-family: "nexon_b";
  color: white;
  background-color: #f4a437;
  height: 80px;
  border: none;
  width: 320px;
  border-radius: 10px;
  font-size: 22px;
  margin: 20px 38px;
  display: inline-block;
}
#JPrevButton1 {
  background-color: #fbe6c5;
  border: none;
  width: 60px;
  border-radius: 10px;
  font-size: 10px;
  height: 30px;
}
#policyPlus {
  text-align: center;
}
#policyAdd {
  color: white;
  background-color: #f4a437;
  height: 80px;
  border: none;
  width: 320px;
  margin: 20px 38px;
  border-radius: 10px;
  font-size: 22px;
  /* margin: 0 auto; */
  display: inline-block;
  text-align: center;
  font-family: "nexon_b";
}

/*******************************************************************
************************     JPREVBUTTONS    ***********************
*******************************************************************/
#JPrevButton {
  width: 700px;
  height: 80px;
  border-radius: 12px;
  border: none;
  background-color: #f4a437;
  color: white;
  font-size: 28px;
}
#JPrevButton1 {
  width: 700px;
  height: 80px;
  border-radius: 12px;
  border: none;
  background-color: #f4a437;
  color: white;
  font-size: 28px;
}
#JPrevButton2 {
  width: 700px;
  height: 80px;
  border-radius: 12px;
  border: none;
  background-color: #f4a437;
  color: white;
  font-size: 28px;
}
#JPrevButton3 {
  width: 700px;
  height: 80px;
  border-radius: 12px;
  border: none;
  background-color: #f4a437;
  color: white;
  font-size: 28px;
}
#JPrevButton4 {
  width: 700px;
  height: 80px;
  border-radius: 12px;
  border: none;
  background-color: #f4a437;
  color: white;
  font-size: 28px;
}
#JPrevButton5 {
  width: 700px;
  height: 80px;
  border-radius: 12px;
  border: none;
  background-color: #f4a437;
  color: white;
  font-size: 28px;
}

/*******************************************************************
************************       TESTBTNS      ***********************
*******************************************************************/

/* #testBtn0 {
  font-size: 22px;
  margin: 20px auto;
}
#testBtn1 {
  font-size: 22px;
  margin: 20px auto;
} */
