* {
  box-sizing: border-box;
}
body {
  font-family: "nexon_m";
}

.mySlides {
  display: none;
}
.mySlides_1 {
  display: none;
}

/* Slideshow container */
.slideshow-container {
  max-width: 60%;
  position: relative;
  margin: auto;
}

.slideshow-container_1 {
  max-width: 60%;
  position: relative;
  margin: auto;
}
.slideshow-container_2 {
  max-width: 60%;
  position: relative;
  margin: auto;
}

/* Caption text */
.text {
  color: black;
  font-size: 20px;
  width: 100%;
  text-align: left;
  margin-top: 30px;
  display: inline-block;
}

/* The dots/bullets/indicators */

.active {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

#external-events {
  width: 50%;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events .fc-event {
  cursor: move;
  margin: 3px 0;
}

#external-events_1 {
  width: 50%;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events_1 .fc-event_1 {
  cursor: move;
  margin: 3px 0;
}
#external-events_2 {
  width: 50%;
  padding: 0 10px;
  border: 1px solid #ccc;
  background: #eee;
}

#external-events_2 .fc-event_2 {
  cursor: move;
  margin: 3px 0;
}

#block_icon1 {
  width: 30px;
  height: 30px;
  background-color: pink;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: -8px;
}
#block_icon2 {
  width: 30px;
  height: 30px;
  background-color: blue;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: -8px;
}
#block_icon3 {
  width: 30px;
  height: 30px;
  background-color: black;
  display: inline-block;
  margin-right: 20px;
  margin-left: 20px;
  border-radius: 5px;
  margin-bottom: -8px;
}

/* .dot_1 {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
} */
